@media screen and (min-width: 768px) {
    .protocol_view {
        padding-top: 28px;
    }
    .protocol_view_main {
        display: block;
        width: 1110px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 1px rgba(188, 204, 233, 0.4);
        border-radius: 16px 16px 16px 16px;
        opacity: 1;
        padding: 40px 23px 116px 117px;
        margin: 0 auto;
    }
    .protocol_view_main_title {
        height: 53px;
        font-size: 48px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E;
        line-height: 53px;
        text-align: center;
        margin-bottom: 32px;
    }
    .protocol_view_main_desc {
        height: 115px;
        font-size: 18px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 22px;
    }
}
@media screen and (max-width: 768px) {
    .protocol_view_main {
        width: 305px;
        margin: 28px auto 49px auto;
        padding: 40px 23px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(188, 204, 233, 0.4);
        border-radius: 16px;
    }
}