@media screen and (min-width: 768px) {
    .register_view {
        padding-top: 39px;
        padding-bottom: 15px;
    }
    .register_view_main {
        padding-top: 53px;
        box-sizing: border-box;
        width: 554px;
        height: 644px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 1px rgba(188, 204, 233, 0.4);
        border-radius: 20px 20px 20px 20px;
        margin: 0 auto;
    }
    .register_view_main_container {
        width: 381px;
        margin: 0 auto;
    }
    .register_view_main_title {
        height: 40px;
        font-size: 40px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #364F6B !important;
        line-height: 40px;
        margin-bottom: 32px;
        text-align: center;
    }
    .register_view_main_control {
        width: 381px;
        height: 56px;
        background: #FFFFFF;
        border-radius: 32px 32px 32px 32px;
        border: 2px solid #6482A3 !important;
        margin: 0 auto 16px auto;
        overflow: hidden;
        position: relative;
    }
    .register_view_main_control:last-child {
        margin-bottom: 24px;
    }
    .register_view_main_control_icon {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 16px;
        left: 16px;
        z-index: 99;
    }
    .register_view_main_control_input {
        height: 56px !important;
        line-height: 56px !important;
        border: 0 !important;
        width: 100%;
        box-sizing: border-box;
        text-indent: 50px !important;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #D7DFEE !important;
        border-radius: 32px 32px 32px 32px !important;
        padding-inline-end: 0 !important;
        padding-inline-start: 0 !important;
    }
    .register_view_main_control:last-child .register_view_main_control_input {
        text-indent: 98px !important;
    }
    .register_view_main_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 28px;
        margin-bottom: 8px;
    }
    .register_view_main_info:last-child {
        margin-bottom: 24px;
    }
    .register_view_main_info_label {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        margin-bottom: 0 !important;
    }
    .register_view_main_agree {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
    }
    .register_view_main_agree_label {
        height: 19px;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 19px;
    }
    .register_view_main_agree_value {
        height: 19px;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #2D6CDF !important;
        line-height: 19px;
        cursor: pointer;
    }
    .register_view_main_submit {
        width: 300px !important;
        height: 54px !important;
        background: #2D6CDF !important;
        border-radius: 20px 20px 20px 20px !important;
        opacity: 1;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FAFAFA !important;
        margin-bottom: 32px;
        cursor: pointer;
    }
    .register_view_main_tip {
        justify-content: center;
        align-items: center;
        height: 19px;
    }
    .register_view_main_tip_label {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
    }
    .register_view_main_tip_login {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #2D6CDF !important;
        cursor: pointer;
    }
}
@media screen and (max-width: 768px) {
    .register_view {
        padding-top: 33px;
        padding-bottom: 15px;
    }
    .register_view_main {
        width: 311px;
        margin: 0 auto;
    }
    .register_view_main_container {
        width: 311px;
        margin: 0 auto;
    }
    .register_view_main_title {
        height: 40px;
        font-size: 40px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #364F6B !important;
        line-height: 40px;
        margin-bottom: 32px;
        text-align: center;
    }
    .register_view_main_control {
        width: 311px;
        height: 56px;
        background: #FFFFFF;
        border-radius: 32px 32px 32px 32px;
        border: 2px solid #6482A3 !important;
        margin: 0 auto 16px auto;
        overflow: hidden;
        position: relative;
    }
    .register_view_main_control:last-child {
        margin-bottom: 24px;
    }
    .register_view_main_control_icon {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 16px;
        left: 16px;
        z-index: 99;
    }
    .register_view_main_control_input {
        height: 56px !important;
        line-height: 56px !important;
        border: 0 !important;
        width: 100%;
        box-sizing: border-box;
        text-indent: 50px !important;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #D7DFEE !important;
        border-radius: 32px 32px 32px 32px !important;
        padding-inline-end: 0 !important;
        padding-inline-start: 0 !important;
    }
    .register_view_main_control:last-child .register_view_main_control_input {
        text-indent: 98px !important;
    }
    .register_view_main_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 28px;
        margin-bottom: 8px;
    }
    .register_view_main_info:last-child {
        margin-bottom: 24px;
    }
    .register_view_main_info_label {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        margin-bottom: 0 !important;
    }
    .register_view_main_agree {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
    }
    .register_view_main_agree_label {
        height: 19px;
        font-size: 14px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 19px;
    }
    .register_view_main_agree_value {
        height: 19px;
        font-size: 14px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #2D6CDF !important;
        line-height: 19px;
        cursor: pointer;
    }
    .register_view_main_submit {
        width: 300px !important;
        height: 54px !important;
        background: #2D6CDF !important;
        border-radius: 20px 20px 20px 20px !important;
        opacity: 1;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FAFAFA !important;
        margin-bottom: 32px;
        cursor: pointer;
    }
    .register_view_main_tip {
        justify-content: center;
        align-items: center;
        height: 19px;
    }
    .register_view_main_tip_label {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
    }
    .register_view_main_tip_login {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #2D6CDF !important;
        cursor: pointer;
    }
}
