@media screen and (min-width: 768px) {
    .home_view {
        padding-top: 45px;
        width: 1512px;
        margin: 0 auto;
        position: relative;
    }
    .home_banner_container {
        width: 1512px;
    }
    .home_banner_logo {
        position: absolute;
        left: 347px;
        top: 101px;
        width: 749px;
        height: 150px;
    }
    .home_banner_title {
        position: absolute;
        top: 261px;
        left: 406px;
        width: 700px;
        height: 55px;
    }
    .home_banner_desc {
        position: absolute;
        top: 332px;
        left: 618px;
        height: 22px;
        font-size: 18px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #2D6CDF !important;
        line-height: 22px;
    }
    .home_banner_action {
        position: absolute !important;
        top: 370px;
        left: 606px;
        width: 300px !important;
        height: 54px !important;
        background: #2D6CDF !important;
        border-radius: 20px 20px 20px 20px !important;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FAFAFA !important;
    }
    .home_view_list {
        width: 1512px;
        margin: 0 auto;
        padding: 39px 155px;
        box-sizing: border-box;
    }
    .home_view_list_main {
        justify-content: space-between;
    }
    .home_view_list_main_item {
        padding: 32px;
        width: 226px;
        height: 174px;
        background: #FFFFFF !important;
        border-radius: 24px 24px 24px 24px; 
        box-sizing: border-box;
        position: relative;
        box-shadow: 0px 4px 20px rgba(188, 204, 233, 0.4);
    }
    .home_view_list_main_item_price {
        height: 70px;
        align-items: baseline;
    }
    .home_view_list_main_item_price_value {
        font-size: 64px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
        margin-right: 8px;
    }
    .home_view_list_main_item_price_unit {
        font-size: 24px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E !important;
    }
    .home_view_list_main_item_icon1 {
        position: absolute;
        right: 31px;
        top: 32px;
        width: 25px;
        text-align: center;
        height: 41px;
        line-height: 41px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #97AAC9 !important;
    }
    .home_view_list_main_item_icon2 {
        position: absolute;
        right: 18px;
        top: 32px;
        width: 12px;
        text-align: center;
        height: 20px;
        line-height: 20px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #97AAC9 !important;
    }
    .home_view_list_main_item_desc {
        height: 24px;
        font-size: 20px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E;
        line-height: 24px;
    }
    .home_view_section {
        padding-top: 32px;
    }
    .home_view_section_title {
        height: 55px;
        font-size: 50px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF !important;
        line-height: 55px;
        text-align: center;
    }
    .home_view_section_line {
        width: 600px;
        height: 8px;
        margin: 16px auto;
    }
    .home_view_section_desc {
        height: 29px;
        font-size: 24px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #DAE5F9 !important;
        line-height: 29px;
        text-align: center;
    }
    .home_view_desc {
        padding: 37px 0 49px 0;   
    }
    .home_view_desc_value {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E;
        line-height: 19px;
        text-align: center;
    }
    .home_view_main {
        padding: 26px 162px 49px 161px;
        width: 1512px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .home_view_main_bussiness {
        justify-content: space-between;
    }
    .home_view_main_bussiness_item {
        width: 580px;
        height: 337px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 1px rgba(188, 204, 233, 0.4);
        border-radius: 20px 20px 20px 20px;
        padding: 48px 48px 35px 48px;
        box-sizing: border-box;
        position: relative;
    }
    .home_view_main_bussiness_item_tip {
       width: 27px;
       height: 32px;
       position: absolute;
       left: 48px;
       top: 48px; 
    }
    .home_view_main_bussiness_item_icon {
        width: 109px;
        height: 110px;
        position: absolute;
        right: 48px;
        top: 48px;
    }
    .home_view_main_bussiness_item_title {
        text-indent: 35px;
        padding-top: 15px;
        font-size: 40px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
        line-height: 40px;
        margin-bottom: 8px;
    }
    .home_view_main_bussiness_item_subtitle {
        text-indent: 35px;
        height: 29px;
        font-size: 24px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #97AAC9 !important;
        line-height: 29px;
        margin-bottom: 42px;
    }
    .home_view_main_bussiness_item_desc {
        width: 484px;
        height: 42px;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E;
        line-height: 21px;
        margin-bottom: 24px;
    }
    .home_view_main_bussiness_item_action {
        width: 104px !important;
        height: 54px !important;
        border-radius: 20px 20px 20px 20px !important;
        opacity: 1;
        border: 1px solid #2D6CDF !important;
        background: #FFFFFF !important;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
    }
    .home_view_content {
        padding-top: 36px;
        width: 1512px;
        margin: 0 auto;
    }
    .home_view_content_title {
        width: 193px;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .home_view_content_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1200px;
        margin: 0 auto;
    }
    .home_view_content_list_item {
        width: 289px;
        height: 113px;
        background: #FFFFFF;
        box-shadow: 0px 1px 24px 1px #ECF0F7;
        border-radius: 20px 20px 20px 20px;
        margin-right: 15px !important;
        margin-bottom: 24px !important;
        margin-inline-start: 0 !important;
        padding: 16px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    .home_view_content_list_item:nth-child(4n-2) {
        margin-right: 14px !important;
    }
    .home_view_content_list_item:nth-child(4n) {
        margin-right: 0 !important;
    }
    .home_view_content_list_item_icon {
        width: 81px;
        height: 81px;
    }
    .home_view_content_list_item_desc {
        width: 160px;
        font-size: 24px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
        line-height: 29px;
    }
    .home_view_gift {
        padding-top: 14px;
        width: 1512px;
        padding-left: 220px;
        margin: 0 auto;
    }
    .home_view_gift_icon {
        margin-right: 100px;
        width: 393px;
        height: 393px;
    }
    .home_view_gift_content {
        padding-top: 60px;
    }
    .home_view_gift_content_title {
        height: 140px;
        font-size: 64px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF !important;
        line-height: 70px;
    }
    .home_view_gift_content_line {
        width: 579px;
        height: 8px;
        margin: 16px 0;
    }
    .home_view_gift_content_desc {
        height: 24px;
        font-size: 20px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF !important;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .home_view_gift_content_action {
        width: 368px !important;
        height: 54px !important;
        background: #F2C501 !important;
        border-radius: 20px 20px 20px 20px !important;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E !important;
    }
    .home_view_content_section {
        display: flex;
        padding-left: 250px;
    }
    .home_view_content_section_icon {
        width: 393px;
        height: 393px;
        margin-right: 120px;
    }
    .home_view_content_section_icons {
        width: 393px;
        height: 393px;
    }
    .home_view_content_section_mains,
    .home_view_content_section_main {
        width: 496px;
        padding-top: 45px;
    }
    .home_view_content_section_mains {
        margin-right: 120px;
    }
    .home_view_content_section_main_title {
        height: 40px;
        margin-bottom: 16px;
        align-items: center;
    }
    .home_view_content_section_main_title_value {
        font-size: 40px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
    }
    .home_view_content_section_main_title_icon {
        width: 75px;
        height: 24px;
        margin-left: 8px;
    }
    .home_view_content_section_main_subtitle {
        margin-bottom: 8px;
        height: 29px;
        font-size: 24px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E !important;
        line-height: 29px;
    }
    .home_view_content_section_main_desc {
        margin-bottom: 16px;
        height: 19px;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 19px;
    }
    .home_view_content_section_main_action {
        width: 129px !important;
        height: 54px !important;
        background: #2D6CDF !important;
        border-radius: 20px 20px 20px 20px !important;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FAFAFA !important;
    }
}
@media screen and (max-width: 768px) {
    .home_view {
        width: 100% !important;
        overflow: hidden;
    }    
    .home_view_section {
        padding: 18px 43px 12px 43px;
        height: 153px;
        box-sizing: border-box;
    }
    .home_view_section_title {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px !important;
        color: #ffffff !important;
        margin-bottom: 16px;
    }
    .home_view_section_line {
        width: 281px;
        margin-bottom: 16px;
    }
    .home_view_section_desc {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #D7DFEE !important;
        text-align: center;
    }
    .home_view_content {
        padding: 0 37px 0 38px;
        display: block;
    }
    .home_view_desc {
        padding: 19px 41px 74px 40px;
        position: relative;
    }
    .home_view_desc_value {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #002C5E !important;
    }
    .home_view_desc_icon1 {
        position: absolute;
        width: 271.78px;
        height: 51.08px;
        left: 40px;
        top: 299px;
        transform: rotate(4.35deg);
    }
    .home_view_desc_icon2 {
        position: absolute;
        width: 42.67px;
        height: 39px;
        right: 18px;
        top: 281px;
    }
    .home_view_main_bussiness {
        display: block !important;
        width: 306px;
        margin: 0 auto;
    }
    .home_view_main_bussiness_item_action {
        display: none !important;
    }
    .home_view_main_bussiness_item {
        width: 306px;
        height: 149px;
        background: #FFFFFF;
        box-shadow: 0px 1px 24px #ECF0F7 !important;
        border-radius: 20px !important;
        position: relative;
        padding: 27px 24px 24px 24px;
        box-sizing: border-box;
        margin-bottom: 16px !important;
        margin-inline-start: 0 !important;
    }
    .home_view_main_bussiness_item_icon {
        position: absolute;
        right: 24px;
        top: 24px;
        width: 58px;
        height: 58px;
    }
    .home_view_main_bussiness_item_tip {
        position: absolute;
        width: 19px;
        height: 23px;
        left: 24px;
        top: 27px;
    }
    .home_view_main_bussiness_item_title {
        height: 29px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #2D6CDF !important;
        text-indent: 23px;
        margin-bottom: 4px;
    }
    .home_view_main_bussiness_item_subtitle {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        height: 19px;
        line-height: 19px;
        color: #97AAC9 !important;
        margin-bottom: 11px;
    }
    .home_view_main_bussiness_item_desc {
        width: 258px;
        height: 48px;
        line-height: 16px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        color: #002C5E !important;
    }
    .home_view_content_section {
        display: block !important;
    }
    .home_view_content_title {
        width: 193px;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .home_view_content_section_icon {
        width: 280px;
        height: 280px;
        margin: 0 auto 16px auto;
    }
    .home_view_content_section_main {
        margin-inline-start: 0 !important;
    }
    .home_view_content_section_main_title {
        margin-bottom: 10px;
    }
    .home_view_content_section_main_title_value {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #2D6CDF !important;
    }
    .home_view_content_section_main_title_icon {
        width: 46px;
        height: 15px;
        margin-right: 5px;
    }
    .home_view_content_section_main_subtitle {
        height: 19px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #002C5E !important;
    }
    .home_view_content_section_main_desc {
        line-height: 20px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #002C5E !important;
        margin-bottom: 10px;
    }
    .home_view_content_section_main_action {
        width: 300px !important;
        height: 54px !important;
        background: #2D6CDF !important;
        border-radius: 16px !important;
        margin-bottom: 16px !important;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF !important;
    }
    .home_view_content_list {
        justify-content: center;
        flex-wrap: wrap;
    }
    .home_view_content_list_item {
        width: 114px;
        height: 113px;
        margin-inline-start: 0 !important;
        display: block !important;
        padding: 8px;
        box-sizing: border-box;
    }
    .home_view_content_list_item_icon {
        width: 55px;
        height: 55px;
        margin: 0 auto 8px auto;
    }
    .home_view_content_list_item_desc {
        text-align: center;
        line-height: 17px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #2D6CDF !important;
    }
    .home_view_contents {
        margin-bottom: 29px;
    }
    .home_view_gift {
        display: block !important;
        padding-top: 28px; 
        box-sizing: border-box;
    }
    .home_view_gift_icon {
        width: 304px;
        height: 304px;
        margin: 0 auto 16px auto;
    }
    .home_view_gift_content {
        margin-inline-start: 0 !important;
    }
    .home_view_gift_content_title {
        text-align: center;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF !important;
        margin: 0 auto 7px auto;
    }
    .home_view_gift_content_line {
        width: 198px;
        height: 8px;
        margin: 0 auto 7px auto;
    }
    .home_view_gift_content_desc {
        height: 22px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF !important;
        margin-bottom: 10px;
        text-align: center;
    }
    .home_view_gift_content_action {
        width: 300px !important;
        height: 54px !important;
        background: #F2C501 !important;
        border-radius: 16px !important;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #002C5E !important;
        /* margin: 0 auto; */
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .home_view_list {
        padding: 0 24px 0 23px;
        margin-bottom: 34px;
    }
    .home_view_list_main {
        justify-content: center !important;
        flex-wrap: wrap;
    }
    .home_view_list_main_item {
        width: 104px;
        height: 76px;
        margin-bottom: 8px !important;
        margin-inline-start: 0 !important;
        background: #FFFFFF;
        box-shadow: 0px 1px 24px #ECF0F7;
        border-radius: 15px;
        padding: 16px;
        box-sizing: border-box;
        position: relative;
    }
    .home_view_list_main_item:first-child,
    .home_view_list_main_item:nth-child(2),
    .home_view_list_main_item:nth-child(4) {
        margin-right: 8px;
    }
    .home_view_list_main_item_price {
        align-items: baseline !important;
    }
    .home_view_list_main_item_price_value {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #2D6CDF !important;
    }
    .home_view_list_main_item_price_unit {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #002C5E !important;
        margin-inline-start: 0 !important;
    }
    .home_view_list_main_item_desc {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #002C5E !important;
    }
    .home_view_list_main_item_icon1 {
        width: 12px;
        height: 26px;
        position: absolute;
        right: 25px;
        top: 16px;
        font-weight: 400;
        font-size: 14px;
        color: #97AAC9 !important;
    }
    .home_view_list_main_item_icon2 {
        width: 9px;
        height: 12px;
        position: absolute;
        right: 16px;
        top: 16px;
        font-weight: 400;
        font-size: 10px;
        color: #97AAC9 !important;
    }
}