@media screen and (min-width: 768px) {
    .partner_view {
        margin-top: -20px;
    }
    .partner_view_banner {
        height: 726px;
        width: 1512px;
        margin: 0 auto;
        position: relative;
        z-index: 99;
    }
    .partner_view_banner_bn {
        height: 726px;
        width: 1512px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .partner_view_banner_title {
        position: absolute;
        left: 294px;
        top: 286px;
        width: 430px;
        height: 55px;
        font-size: 50px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E;
        line-height: 55px;
        z-index: 99;
    }
    .partner_view_banner_desc {
        position: absolute;
        left: 552px;
        top: 357px;
        width: 172px;
        height: 22px;
        font-size: 18px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #2D6CDF;
        line-height: 22px;
        z-index: 99;
    }
    .partner_view_banner_action {
        position: absolute;
        left: 424px;
        top: 395px;
        width: 300px !important;
        height: 54px !important;
        background: #2D6CDF !important;
        border-radius: 20px 20px 20px 20px !important;
        font-size: 18px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #FAFAFA !important;
        z-index: 99;
    }
    .partner_view_list {
        margin: 0 auto 36px auto;
        justify-content: space-between;
        padding-top: 18px;
        width: 1512px;
        padding: 0 156px;
        z-index: 999;
    }
    .partner_view_list_item {
        width: 390px;
        height: 217px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 1px rgba(188, 204, 233, 0.4);
        border-radius: 20px 20px 20px 20px;
        padding: 48px 48px 48px 67px;
        box-sizing: border-box;
    }
    .partner_view_list_title {
        height: 40px;
        margin-bottom: 24px;
        align-items: center;
    }
    .partner_view_list_title_icon {
        width: 19px;
        height: 29px;
    }
    .partner_view_list_title_value {
        font-size: 40px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
    }
    .partner_view_list_value {
        height: 38px;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 19px;
    }
    .partner_view_advantage {
        width: 1512px;
        margin: 0 auto;
    }
    .partner_view_advantage_title {
        height: 40px;
        align-items: center;
        justify-content: center;
    }
    .partner_view_advantage_title_icon {
        height: 40px;
    }
    .partner_view_advantage_title_value {
        font-size: 40px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E;
    }
    .partner_view_advantage_section {
        width: 1196px;
        height: 393px;
        box-sizing: border-box;
        padding: 0 108px 0 109px;
        justify-content: space-between;
    }
    .partner_view_advantage_section_icon {
        width: 393px;
        height: 393px;
        margin-left: 109px;
    }
    .partner_view_advantage_section_content {
        width: 486px;
        padding-top: 144px;
    }
    .partner_view_advantage_section_content_desc {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 19px;
    }
    .partner_view_advantage_section_contents {
        margin-top: 67px;
        margin-left: 137px;
        width: 430px;
        box-sizing: border-box;
    }
    .partner_view_advantage_section_content_title,
    .partner_view_advantage_section_contents_title {
        height: 40px;
        align-items: center;
        margin-bottom: 16px;
    }
    .partner_view_advantage_section_content_title {
        margin-bottom: 8px;
    }
    .partner_view_advantage_section_content_title_value,
    .partner_view_advantage_section_contents_title_value {
        height: 40px;
        font-size: 40px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
        line-height: 40px;
    }
    .partner_view_advantage_section_content_title_icon,
    .partner_view_advantage_section_contents_title_icon {
        width: 75px;
        height: 24px;
    }
    .partner_view_advantage_section_contents_desc {
        height: 58px;
        font-size: 24px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E !important;
        line-height: 29px;
        margin-bottom: 16px;
    }
    .partner_view_advantage_section_contents_img {
        width: 332px;
        height: 132px;
    }
    .partner_view_develop {
        margin: 14px auto 0 auto;
        width: 1196px;
        height: 393px;
        justify-content: space-between;
    }
    .partner_view_develop_img {
        width: 393px;
        height: 393px;   
        margin-left: 26px;
    }
    .partner_view_develop_content {
        width: 631px;
        padding-top: 83px;
    }
    .partner_view_develop_content_title {
        height: 70px;
        font-size: 64px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF !important;
        line-height: 70px;
    }
    .partner_view_develop_content_line {
        width: 631px;
        height: 8px;
        margin: 16px 0;
    }
    .partner_view_develop_content_desc {
        height: 48px;
        font-size: 20px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF !important;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .partner_view_develop_content_action {
        width: 369px !important;
        height: 54px !important;
        background: #F2C501;
        border-radius: 20px 20px 20px 20px !important;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E !important;
    }
}

@media screen and (max-width: 768px) {
    .partner_view {
        width: 100%;
        background-image: url('~/assets/images/API/banner.jpeg');
        background-size: contain;
        background-repeat: no-repeat
    }
    .partner_view_banner {

    }
    .partner_view_banner_bn {
        width: 276px;
        height: 276px;
        margin: 0 auto 273px auto;
    }
    .partner_view_list {
        overflow: scroll;
        margin-bottom: 58px;
    }
    .partner_view_list_item {
        width: 293px !important;
        height: 142px !important;
        background: #FFFFFF !important;
        box-shadow: 0px 1px 24px #ECF0F7 !important;
        border-radius: 20px !important;
        padding: 24px !important;
        margin-right: 8px !important;
    }
    .partner_view_list_title {
        margin-bottom: 8px;
        height: 29px;
        align-items: center;
    }
    .partner_view_list_title_icon {
        width: 19px;
        height: 23px;
        margin-right: 8px;
    }
    .partner_view_list_title_value {
        height: 29px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #2D6CDF !important;
    }
    .partner_view_list_value {
        width: 245px !important;
    }
    .partner_view_advantage_title {
        height: 40px;
        align-items: center;
        justify-content: center;
    }
    .partner_view_advantage_title_icon {
        height: 40px;
    }
    .partner_view_advantage_section {
        width: 100%;
        display: block !important;
        margin-bottom: 24px;
    }
    .partner_view_advantage_section:last-child {
        margin-bottom: 45px;
    }
    .partner_view_advantage_section_icon {
        width: 172px;
        height: 172px;
        margin: 0 101px 16px 102px;
    }
    .partner_view_advantage_section_contents,
    .partner_view_advantage_section_content {
        padding: 0 35px 0 36px;
    }
    .partner_view_advantage_section_content_title,
    .partner_view_advantage_section_contents_title {
        height: 29px;
        align-items: center;
        margin-bottom: 10px;
    }
    .partner_view_advantage_section_content_title_value,
    .partner_view_advantage_section_contents_title_value {
        height: 29px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #2D6CDF !important;
        margin-bottom: 10px;
    }
    .partner_view_advantage_section_content_title_icon,
    .partner_view_advantage_section_contents_title_icon {
        margin-left: 5px;
        height: 15px;
        width: 45px;
    }
    .partner_view_advantage_section_content_desc {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #002C5E !important;
    }
    .partner_view_advantage_section_contents_img {
        margin-top: 10px;
        width: 219px;
        height: 164px;
    }
    .section {
        padding: 28px 38px 0 37px;
        box-sizing: border-box;
    }
    .partner_view_develop {
        width: 100%;
        display: block !important;
    }
    .partner_view_develop_img {
        width: 304px;
        height: 304px;
        margin: 0 auto 16px auto;
    }
    .partner_view_develop_content_title {
        height: 29px;
        line-height: 29px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #ffffff !important;
        text-align: center;
    }
    .partner_view_develop_content_line {
        width: 280px;
        height: 8px;
        margin: 7px auto;
    }
    .partner_view_develop_content_desc {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff !important;
        width: 280px;
        margin: 0 auto 10px auto;
        text-align: center;
    }
    .partner_view_develop_content_action {
        width: 300px !important;
        height: 54px !important;
        background: #F2C501 !important;
        border-radius: 20px !important;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 18px !important;
        color: #002C5E !important;
        margin:  0 auto;
    }
}