.navbar_view_register {
    color: #2D6CDF !important;
    font-size: 16px;
    margin-right: 48px !important;
}
.navbar_view_register:last-child {
    margin-right: 0 !important;
}
.navbar_view_menulist_item {
    height: 22px;
    line-height: 22px;
    margin-bottom: 26px;
    color: #899EC5 !important;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.navbar_view_menulist_item.active {
    font-weight: 700;
    color: #2D6CDF !important;
}