.header {
    height: 80px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 20px 1px rgba(188, 204, 233, 0.4);
    padding-top: 19px;
    display: block;
    width: 100%;
    z-index: 999;
}
.header_main {
    min-width: 1512px;
    width: 1512px;
    margin: 0 auto;
}
.header_view {
    width: 1200px;
    height: 51px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_view_logo {
    width: 211px;
    height: 42px;
    margin-right: 88.5px;
}
.header_view_menulist {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 51px;
    margin-inline-start: 0 !important;
}
.header_view_menulist_item {
    margin-right: 121px !important;
    margin-left: 0 !important;
    cursor: pointer;
    font-family: Nunito Sans-Regular, Nunito Sans;
    font-weight: 400;
    font-size: 16px;
    color: #899EC5 !important;
    position: relative;
    height: 22px;
}
.header_view_menulist_item.active,
.header_view_menulist_item:hover {
    color: #2D6CDF !important;
    font-weight: 700 !important;
}
.header_view_menulist_item:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: #2D6CDF;
}
.header_view_menulist_item.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: #2D6CDF;
}
.header_view_menulist_item:last-child {
    margin-right: 0 !important;
}
.header_view_register ,
.header_view_login {
    width: 97px;
    height: 51px;
    text-align: center;
    line-height: 51px;
    font-family: PingFang SC-Regular, PingFang SC;
    color: #2D6CDF !important;
    font-weight: 400;
    cursor: pointer;
}

/*
 * mobile
*/
.mobile_header {
    height: 72px;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 20px 1px rgba(188, 204, 233, 0.4);
    padding: 18px 16px;
    box-sizing: border-box;
    justify-content: space-between;
}
.mobile_header_logo {
    width: 161px;
    height: 32px;
}
.mobile_header_nav {
    width: 24px;
    height: 24px;
}