.footer_view {
    background: #002C5E;
    height: 283px;
    min-width: 1512px;
} 
.footer_view_main {
    width: 1200px;
    padding-top: 36px;
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
    border-bottom:  1px solid rgba(215, 223, 238, 0.2);
}
.footer_view_main_section {
    display: block !important;
}
.about {
    width: 113px;
    margin-right: 142px;
}
.product {
    width: 84px;
    margin-right: 142px;
}
.service {
    width: 65px;
    margin-right: 141px;
}
.relation {
    width: 65px;
    margin-right: 142px;
}
.business {
    width: 170px;
    margin-right: 40px;
}
.wechat {
    flex: 1;
}
.footer_view_main_section_title {
    height: 19px;
    font-size: 16px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: #D7DFEE !important;
    line-height: 19px;
    margin-bottom: 16px;
}
.wechat .footer_view_main_section_title {
    margin-bottom: 8px;
}
.footer_view_main_section_desc {
    cursor: pointer;
    height: 17px;
    font-size: 14px;
    font-family: PingFang SC-Medium, PingFang SC;
    font-weight: 500;
    color: #D7DFEE !important;
    line-height: 17px;
    margin-bottom: 8px !important;
    margin-inline-start: 0 !important;
}
.footer_view_main_section .footer_view_main_section_desc:last-child {
    margin-bottom: 0 !important;
}
.business .footer_view_main_section_desc {
    height: 22px;
    font-size: 18px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF !important;
    line-height: 22px;
    margin-bottom: 8px !important;
    margin-inline-start: 0 !important;
}
.footer_view_main_section_img {
    width: 96px;
    height: 96px;
    margin-inline-start: 0 !important;
}
.filing {
    padding-top: 24px;
    font-size: 16px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: #D7DFEE;
    line-height: 21px;
    text-align: center;
}

/*
 * mobile
*/
.mobile_footer {
    background: #002C5E;
    padding: 23px 14px 0 16px;
}
.mobile_footer_menu {
    margin-bottom: 10px;
}
.mobile_footer_menu_main {
    justify-content: space-between;
    padding: 0 6px;
    height: 24px;
    align-items: center;
}
.mobile_footer_menu_title {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff !important;
}
.mobile_footer_menu_title_icon {
    width: 24px;
    height: 24px;
}
.mobile_footer_submenu {
    padding-left: 16px;
}
.mobile_footer_submenu_title {
    height: 14px;
    line-height: 14px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #D7DFEE !important;
    margin-bottom: 8px;
}
.mobile_filing {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #D7DFEE !important; 
    text-align: center;
}