@media screen and (min-width: 768px) {
    .product_view {
        margin-top: -20px;
    }
    .product_view_container {
        position: relative;
        width: 1512px;
        margin: 0 auto;
    }
    .product_view_banner {
        position: relative;
        width: 1512px;
        margin: 0 auto;
        height: 726px;
    }
    .product_view_banner_title {
        position: absolute;
        left: 184px;
        top: 286px;
        height: 55px;
        font-size: 50px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E !important;
        line-height: 55px;
    }
    .product_view_banner_desc {
        position: absolute;
        left: 510px;
        top: 357px;
        height: 22px;
        font-size: 18px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #2D6CDF !important;
        line-height: 22px;
    }
    .product_view_banner_vector {
        position: absolute;
        left: 312px;
        top: 372px;
        width: 580px;
        height: 109px;
    }
    .product_view_banner_frame {
        position: absolute;
        left: 841px;
        top: 269px;
        width: 93px;
        height: 85px;
    }
    .product_view_banner_pic {
        width: 461px;
        height: 461px;
        position: absolute;   
        top: 148px;
        left: 921px;
    }
    .product_view_banner_action {
        position: absolute;
        left: 534px;
        top: 395px;
        width: 300px !important;
        height: 54px !important;
        background: #2D6CDF !important;
        border-radius: 20px 20px 20px 20px !important;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FAFAFA !important;
        z-index: 199;
    }
    .product_view_desc {
        padding-top: 52px;
        width: 1512px;
        margin: 0 auto;
        text-align: center;
    }
    .product_view_desc_title {
        height: 55px;
        font-size: 50px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF !important;
        line-height: 55px;
        margin-bottom: 16px;
    }
    .product_view_desc_line {
        width: 936px;
        height: 8px;
        margin: 0 auto 16px auto;
    }
    .product_view_desc_value {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #D7DFEE !important;
        line-height: 19px;
    }
    .product_view_characteristic {
        height: 228px;
        padding-top: 29px;
        width: 1512px;
        margin: 0 auto 30px auto;
    }
    .product_view_characteristic_list {
        padding: 0 231px 0 230px;
        justify-content: space-between;
    }
    .product_view_characteristic_list_item {
        width: 320px;
        height: 140px;
        padding: 16px;
        box-sizing: border-box;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 1px rgba(188, 204, 233, 0.4);
        border-radius: 20px 20px 20px 20px;
    }
    .product_view_characteristic_list_item_icon {
        width: 81px;
        height: 79px;
        border-radius: 128px 128px 128px 128px;
        margin-right: 24px;
    }
    .product_view_characteristic_list_item_title {
        width: 96px;
        height: 58px;
        font-size: 24px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
        line-height: 29px;
        margin-bottom: 8px;
    }
    .product_view_characteristic_list_item_more {
        width: 175px;
        height: 42px;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 19px;
    }
    .product_view_section {
        width: 1512px;
        padding: 0 156px;
        box-sizing: border-box;
        margin: 0 auto;
        height: 500px;
    }
    .product_view_section_icon,
    .product_view_section_contents {
        width: 500px;
        height: 500px;
        border-radius: 0px 0px 0px 0px;
        margin-left: 87px;
        margin-right: 31px;
    }
    .product_view_section_icons,
    .product_view_section_content {
        width: 500px;
        height: 500px;
        border-radius: 0px 0px 0px 0px;
    }
    .product_view_section_content {
        padding-top: 99px;
    }
    .product_view_section_contents {
        padding-top: 60px;
    }
    .product_view_section_content_title {
        height: 40px;
        align-items: center;
        margin-bottom: 16px;
    }
    .product_view_section_content_title_value {
        font-size: 40px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
    }
    .product_view_section_content_title_icon {
        width: 75px;
        height: 24px;
        margin-left: 8px;
    }
    .product_view_section_content_subtitle {
        height: 29px;
        font-size: 24px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E !important;
        line-height: 29px;
        margin-bottom: 8px;
    }
    .product_view_section_content_desc {
        width: 496px;
        height: 38px;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 19px;
        margin-bottom: 16px;
    }
    .product_view_section_content_action {
        width: 129px !important;
        height: 54px !important;
        background: #2D6CDF !important;
        border-radius: 20px 20px 20px 20px !important;
        opacity: 1;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FAFAFA !important;
    }
    .product_view_section_content_img {
        width: 368px;
        height: 170px;
        margin-bottom: 16px;
    }
    .product_view_aprtner {
        width: 1512px;
        margin: 0 auto;
        padding: 36px 171px 12px 171px;
        box-sizing: border-box;
    }
    .product_view_aprtner_title {
        height: 40px;
        align-items: center;
        justify-content: center;
        margin-bottom: 44px;
    }
    .product_view_aprtner_title_value {
        height: 40px;
    }
    .product_view_aprtner_title_icon {
        width: 25px;
        height: 30px;
    }
    .product_view_aprtner_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product_view_aprtner_list_item {
        width: 550px;
        height: 88px;
        background: #FFFFFF;
        box-shadow: 0px 1px 24px 1px #ECF0F7;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 34px !important;
        padding: 16px;
        box-sizing: border-box;
    }
    .product_view_aprtner_list_item_icon {
        width: 57px;
        height: 56px;
        margin-right: 8px;
    }
    .product_view_aprtner_list_item_title {
        font-size: 20px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
    }
    .product_view_aprtner_list_item_desc {
        flex: 1;
        text-align: right;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
    }
    .product_view_tip {
        width: 1512px;
        padding: 14px 158px 13px 178px;
        margin: 0 auto;
    }
    .product_view_tip_main {
        padding: 31px 19px 31px 45px;
        justify-content: space-between;
    }
    .product_view_tip_main_img {
        width: 342px;
        height: 331px;
    }
    .product_view_tip_main_content {
        padding-top: 29px;
    }
    .product_view_tip_main_content_title {
        height: 140px;
        font-size: 64px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF !important;
        line-height: 70px;  
        margin-bottom: 16px;
    }
    .product_view_tip_main_content_line {
        width: 579px;
        height: 8px;
        margin-bottom: 16px;
    }
    .product_view_tip_main_content_desc {
        height: 24px;
        font-size: 20px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF !important;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .product_view_tip_main_content_action {
        width: 368px !important;
        height: 54px !important;
        background: #F2C501 !important;
        border-radius: 20px 20px 20px 20px !important;
        font-size: 18px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E !important;
        cursor: pointer;
    }
}
@media screen and (max-width: 768px) {
    .product_view {
        background-image: url('~/assets/images/product/mobile_bg.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .product_view_container {
        width: 100%;
    }
    .product_view_banner {
        height: 616px;
        padding: 0 16px 0 15px;
    }
    .product_view_banner_icon {
        width: 344px;
        height: 344px;
    }
    .product_view_desc {
        padding-top: 18px;
    }
    .product_view_desc_title {
        height: 29px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #FFFFFF !important;
        margin-bottom: 16px;
        text-align: center;
    }
    .product_view_desc_line {
        width: 291px;
        margin: 0 auto 16px auto;
        height: 8px;
    }
    .product_view_desc_value {
        text-align: center;
        width: 291px;
        margin: 0 auto;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #D7DFEE !important;
    }
    .product_view_characteristic_list {
        padding: 0 19px 0 18px;
        justify-content: space-between;
        margin-bottom: 38px;
    }
    .product_view_characteristic_list_item {
        width: 102px;
        display: block !important;
    }
    .product_view_characteristic_list_item_icon {
        width: 56px;
        height: 55px;
        margin: 0 auto 8px auto;
    }
    .product_view_characteristic_list_item_title {
        width: 56px;
        margin: 0 auto 8px auto;
        line-height: 28px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #2D6CDF !important;
    }
    .product_view_characteristic_list_item_more {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #002C5E !important;
        text-align: center;
    }
    .product_view_section {
        padding:  0 35px;
        width: 100%;
        box-sizing: border-box;
        display: block !important;
    }
    .product_view_section_icon {
        width: 240px;
        height: 240px;
        margin: 0 auto 16px auto;
    }
    .product_view_section_content {
        margin-inline-start:  0 !important;
    }
    .product_view_section_content_title {
        height: 29px;
        align-items: center;
        margin-bottom: 10px;
    }
    .product_view_section_content_title_value {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #2D6CDF !important;
    }
    .product_view_section_content_title_icon {
        width: 45px;
        height: 15px;
        margin-left: 5px;
    }
    .product_view_section_content_subtitle {
        height: 19px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #002C5E !important;
    }
    .product_view_section_content_desc {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #002C5E !important;
        margin-bottom: 10px;
    }
    .product_view_section_content_action {
        width: 300px !important;
        height: 54px !important;
        background: #2D6CDF !important;
        border-radius: 16px !important;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF !important;
        margin: 0 auto 24px auto !important;
    }
    .product_view_section_content_img {
        width: 302px;
        height: 106px;
        margin-bottom: 10px;
    }
    .product_view_aprtner_title {
        justify-content: center;
        margin-bottom: 52px;
    }
    .product_view_aprtner_title_value {
        height: 40px;
    }
    .product_view_aprtner_list {
        overflow: scroll;
        margin-bottom: 25px;
    }
    .product_view_aprtner_list_item {
        display: block !important;
        width: 264px !important;
        height: 77px !important;
        background: #FFFFFF;
        box-shadow: 0px 1px 24px #ECF0F7;
        border-radius: 20px;
        padding: 16px 16px 18px 44px !important;
        position: relative;
        box-sizing: border-box !important;
    }
    .product_view_aprtner_list_item_icon {
        position: absolute;
        left: 18px;
        top: 18px;
        width: 21px;
        height: 21px;
    }
    .product_view_aprtner_list_item_title {
        height: 24px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #2D6CDF !important;
        width: 204px;
        margin-inline-start: 0 !important;
    }
    .product_view_aprtner_list_item_desc {
        height: 14px;
        line-height: 14px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #002C5E !important;
        width: 204px;
        margin-inline-start: 0 !important;
    }
    .product_view_tip_main {
        display: block !important;
    }
    .product_view_tip_main_img {
        width: 304px;
        height: 304px;
        margin-bottom: 16px;
    }
    .product_view_tip_main {
        width: 300px;
        margin:  0 auto;
    }
    .product_view_tip_main_content_title {
        text-align: center;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff !important;
        margin-bottom: 7px;
    }
    .product_view_tip_main_content_line {
        width: 198px;
        height: 8px;
        margin-bottom: 7px;
    }
    .product_view_tip_main_content_desc {
        line-height: 22px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #ffffff !important;
        margin-bottom: 10px;
        text-align: center;
    }
    .product_view_tip_main_content_action {
        width: 300px !important;
        height: 54px !important;
        background: #F2C501 !important;
        border-radius: 20px !important;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        margin:  0 auto;
        font-size: 18px;
        color: #002C5E !important;
    }
}