@media screen and (min-width: 768px) {
    .about_view {
        padding-top: 111px;
    }
    .about_view_container {
        position: relative;
        width: 1512px;
        min-width: 1512px;
        margin: 0 auto;
        padding-bottom: 78px;
    }
    .about_view_container_Vector {
        position: absolute;
        left: 0;
        width: 798px;
        height: 150px;
        top: 88px;
        z-index: 88;
    }
    .about_view_container_Frame {
        width: 93px;
        height: 85px;
        position: absolute;
        top: 5;
        left: 957px;   
    }
    .about_view_container_FrameImg {
        position: absolute;
        bottom: 45px;
        left: 130px;
        width: 1316px;
        height: 183px;
    }
    .about_view_title {
        text-align: center;
        height: 55px;
        font-size: 50px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #002C5E !important;
        line-height: 55px;
        margin-bottom: 16px;
    }
    .about_view_subtitle {
        height: 22px;
        font-size: 18px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #2D6CDF !important;
        line-height: 22px;
        margin-bottom: 103px;
        text-align: center;
    }
    .about_view_container_scetion {
        justify-content: space-between;
        width: 1196px;
        margin: 0 auto;
    }
    .about_view_container_scetion_img {
        width: 393px;
        height: 393px;
        z-index: 99;
        margin-left: 139px;
    }
    .about_view_container_scetion_content {
        width: 486px;
        margin-right: 78px;
    }
    .about_view_container_scetion_content_title {
        margin-top: 105px;
        height: 40px;
    }
    .about_view_container_scetion_content_subtitle {
        height: 24px;
        font-size: 20px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .about_view_container_scetion_content_desc {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 19px;
    }
    .about_view_container_scetion2 {
        margin-top: 24px;
        height: 478px;
    }
    .about_view_container_scetion2_title {
        margin-bottom: 12px;
        height: 40px;
        align-items: center;
        justify-content: center;
    }
    .about_view_container_scetion2_title_value {
        font-size: 40px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
    }
    .about_view_container_scetion2_title_icon {
        width: 75px;
        height: 24px;
    }
    .about_view_container_scetion2_list {
        width: 968px;
        height: 338px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .about_view_container_scetion2_list_item {
        width: 282px;
        height: 338px;
        box-shadow: 0px 3px 15px 1px #ECF0F7;
        border-radius: 15px 15px 15px 15px;
        padding-top: 37px;
        box-sizing: border-box;
    }
    .about_view_container_scetion2_list_item_icon {
        width: 114px;
        height: 114px;
        border-radius: 99px 99px 99px 99px;
        margin: 0 auto 30px auto;
    }
    .about_view_container_scetion2_list_item_desc {
        margin: 0 auto 15px auto;
        height: 48px;
        font-size: 20px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2D6CDF !important;
        line-height: 24px;
        text-align: center;
    }
    .about_view_container_scetion2_list_item_value {
        margin: 0 auto;
        width: 208px;
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #002C5E !important;
        line-height: 19px;
    }
    .about_view_contect {
        height: 420px;
        padding-top: 67px;
        box-sizing: border-box;
        background: #2D6CDF;
        min-width: 1512px;
    }
    .about_view_contect_main {
        width: 1512px;
        padding: 0 318px 0 317px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .about_view_contect_main_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 36px;
        margin-bottom: 40px;
    }
    .about_view_contect_main_header_title {
        font-size: 36px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #F2C501 !important;
    }
    .about_view_contect_main_header_icon {
        width: 75px;
        height: 24px;
    }
    .about_view_contect_main_desc {
        flex-wrap: wrap;
    }
    .about_view_contect_main_desc_item {
        width: 245px;
        margin-right: 71px !important;
        margin-inline-start: 0 !important;
        text-align: left;
        margin-bottom: 48px !important;
    }
    .about_view_contect_main_desc_item:nth-child(3n) {
        margin-right: 0 !important;
    }
    .about_view_contect_main_desc_item_title {
        position: relative;
        height: 20px;
        font-size: 20px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF !important;
        line-height: 20px;
        margin-bottom: 19px;
    }
    .about_view_contect_main_desc_item_title::after {
        content: '';
        width: 63px;
        height: 3px;
        background: #D7DFEE;
        bottom: -8px;
        left: 0;
        position: absolute;
    }
    .about_view_contect_main_desc_item_value {
        font-size: 16px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF !important;
        line-height: 21px;
    }
}
@media screen and (max-width: 768px) {
    .about_view {
        width: 100%;
        background-image: url('~/assets/images/about/mobile_bg.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .about_view_banner {
        width: 276px;
        height: 276px;
        margin-left: 49px;
    }
    .about_view_container_scetion {
        display: block !important;
        width: 306px;
        margin: 0 auto 32px auto;
    }
    .about_view_container_scetion_img {
        width: 172px;
        height: 172px;
        margin: 0 auto 16px auto;
    }
    .about_view_container_scetion_content_title {
        height: 29px;
        margin-bottom: 10px;
    }
    .about_view_container_scetion_content_subtitle {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #002C5E !important;
    }
    .about_view_container_scetion_content_desc {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #002C5E !important;
    }
    .about_view_container_scetion2_list {
        display: block !important;
    }
    .about_view_container_scetion2_list_item {
        width: 314px;
        margin: 0 auto 30px auto !important;
    }
    .about_view_container_scetion2_list_item_icon {
        width: 74px;
        height: 74px;
        margin: 0 auto 8px auto;
    }
    .about_view_container_scetion2_list_item_desc {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
        color: #2D6CDF !important;
        text-align: center;
    }
    .about_view_container_scetion2_list_item_value {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #002C5E !important;
    }
    .about_view_container_scetion_img {
        width: 172px;
        height: 172px;
        margin: 0 auto 16px auto;
    }
    .about_view_container_scetion {
        width: 100%;
    }
    .service_view {
        padding: 54px 35px 40px 34px;
        margin-inline-start: 0 !important;
        background: #2D6CDF !important;
        width: 100%;
    }
    .service_view_title {
        height: 29px;
        align-items: center;
        padding-left: 25px;
        margin-bottom: 16px;
    }
    .service_view_title_value {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #F2C501 !important;
    }
    .service_view_title_icon {
        width: 45px;
        height: 14px;
        margin-left: 8px;
    }
    .service_view_main{
        margin-bottom: 24px !important;
        margin-inline-start: 0 !important;
    }
    .service_view_item {
        height: 24px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 2px solid #ffffff !important;
        box-sizing: content-box;
        margin-bottom: 8px;
    }
    .service_view_item_value {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #F2F6FF !important;
    }
    .service_view_item_value_icon {
        height: 24px;
        width: 24px;
    }
    .service_view_item_submenu {
        margin-inline-start: 0 !important;
    }
    .service_view_item_submenu_title {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #F2F6FF !important;
    }
}